/*
 *= require_directory ./stylesheets/vendor
 *= require stylesheets/defaults
 *= require stylesheets/layout
 *= require stylesheets/maintenance
 *= require stylesheets/products
 *= require stylesheets/product
 *= require stylesheets/pages
 *= require stylesheets/cart
 *= require stylesheets/contact
 *= require stylesheets/overlay
 */
/*============================================================
  Custom Styles - add and override styles below.
============================================================*/
/* POL'S CUSTOM CSS */
.options-row-header {
  margin-bottom: 10px;
}
    
.options-row {
  display: flex;
  margin-bottom: 20px;
}

.option-row-item {
  border: 1px solid black;
  padding: 15px;
  margin-right: 10px;
  cursor: pointer;
}
  
.--sold-out {
  background: #DDDDDD;
  pointer-events: none;
}

.--selected {
  background: #cfe3ca;
}

/* END CUSTOM CSS */